<div class="header">
    <h1>Welcome, Olaide Bamisebi</h1>
    <p>General Manager, Legal Licensing & Compliance (LLC)</p>
    <div class="search">
        <div class="search-bar">
            <img src="assets/Vector-search.png" alt="Vector-search" />
            <input type="text" placeholder="Document search" />
        </div>
        <img src="assets/Vector-filter.png" alt="Vector-filter" class="filter-icon" />
        <div class="search-button">
            <img src="assets/Vector-search-white.png" alt="Vector-search-white" />
            <p style="padding-left: 5px;">Search</p>
        </div>
    </div>
</div>