<div class="header-nav">
    <div>
        <img src="/assets/Logo.png" alt="logo" class="logo" />
    </div>
    <div class="profile">
        <img src="/assets/Vector-notification.png" alt="notification-icon" />
        <div style="display: flex; align-items: center; justify-content: space-evenly; padding-left: 15px;">
            <img src="/assets/Frame-username.png" alt="frame-username" />
            <img src="/assets/Frame-dropdown.png" alt="frame-dropdown" />
        </div>
    </div>
</div>