<main class="login-setting">
  <img src="/assets/Frame.png" alt="Frame" class="image-frame" />
  <div class="form">
    <img src="/assets/Logo.png" alt="DocStream-Logo" class="logo" />
    <h1>Welcome back</h1>
    <p>
      Enter your credentials below to Login. If you'd like to get a list of
      required documents for your application, <a href="#">click here</a>
    </p>
    <form>
      <div class="form-entry">
          <p>Email Address</p>
          <input type="email" placeholder="Enter Email Address" class="form-input" required/>
        </div>
        <div class="form-entry">
          <p>Password</p>
          <div style="display: flex; align-items: center;" class="form-input">
              <input type="password" placeholder="Enter Password" required/>
              <img src="/assets/Icons.png" alt="DocStream-Logo" />
          </div>
        </div>
        <p> <strong>Forgot Password?</strong></p>
        <div>
          <a routerLink="dashboard">
              <button type="button">
              Login
            </button>
          </a>
        </div>
    </form>
    <p><strong>Don't have an account? <a href="/"> Sign Up </a></strong></p>
  </div>
</main>