<div>
    <div class="documents">
        <div>
            <img src="/assets/Vector-upload.png" alt="Vector-upload" />
            <h1>Upload New</h1>
            <p>Documents</p>
        </div>
        <div>
            <img src="/assets/Vector-cabinet.png" alt="Vector-cabinet" />
            <h1>Manage E-Cabinets</h1>
            <p>Documents</p>
        </div>
        <div>
            <img src="/assets/Vector-correspondences.png" alt="Vector-correspondences" />
            <h1>External <br/>
                Correspondences</h1>
        </div>
    </div>
    <div class="tasks">
        <div class="task-element untreated">
            <h2>Untreated Task</h2>
            <h1>5</h1>
            <p>0 today</p>
        </div>
        <div class="task-element pending">
            <h2>Pending Task</h2>
            <h1>2</h1>
            <p>0 today</p>
        </div>
        <div class="task-element treated">
            <h2>Treated Task</h2>
            <h1>12</h1>
            <p>0 today</p>
        </div>
        <div class="task-element closed">
            <h2>Closed Task</h2>
            <h1>12</h1>
            <p>0 today</p>
        </div>
    </div>
</div>