<div>
    <!-- MEETING SECTION -->
    <section class="meeting-section">
        <div>
            <h1>Schedule A Meeting</h1>
            <button>
                New Meeting
            </button>
            <ejs-calendar></ejs-calendar>
        </div>
        <div>
            <h1>Scheduled Meetings</h1>
            <div class="meetings">
                <h3>My Meetings</h3>
                <div class="scheduled-events">
                    <div  class="vector-events">
                        <img src="assets/vector-events.png" alt="vector-events"/>
                    </div>
                    <h2>No Scheduled Events</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- TASK SECTION -->
    <section class="tasks-section">
        <div>
            <h1>Task History</h1>
            <div class="scheduled-events">
                <div  class="vector-events">
                    <img src="assets/image-task.png" alt="image-tasks"/>
                </div>
                <h2>No Scheduled Events</h2>
            </div>
        </div>
        <div>
            <h1>Your Performance</h1>
            <div class="performance">
                <div>
                    <img src="assets/image-performance.png" alt="image-performance"/>
                    <h2>Congratulation Abdul!</h2>
                    <h2>You've got a Gold Trophy</h2>
                </div>
                <div class="reward">
                    <div class="badge-meter">
                        <p>Badge Meter <span>(November 2021)</span></p>
                        <div class="meter">
                            <img src="assets/Vector-badge.png" alt="vector-badge"/>
                            <div>
                                <p class="percent">75%</p>
                                <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                                <span>Bronze Medal Acquired</span>
                            </div>
                        </div>
                    </div>
                    <div class="trophy-status">
                        <p>Trophy Status <span>(5 of 6 Months)</span></p>
                        <div class="meter">
                            <img src="assets/vector-meter.png" alt="vector-meter"/>
                            <div>
                                <p class="percent">85%</p>
                                <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                                <span>Trophy is earned after 6 months</span>
                            </div>
                        </div>
                    </div>
                    <button>
                        View Reward
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>