<div class="side-bar">
    <div class="side-bar-components">
        <img src="/assets/Frame-hamburger.png" alt="Frame-hamburger" class="side-icons" />
        <div class="ind-components">
            <img src="assets/Vector-active.png" alt="vector-active" class="side-icons" />
            <p>Dashboard</p>
        </div>
        <div class="ind-components">
            <img src="assets/Vector-file.png" alt="vector-file" class="side-icons"/>
            <p>File Manager</p>
        </div>
        <div class="ind-components">
            <img src="assets/Vector-chat.png" alt="vector-chat" class="side-icons"/>
            <p>Chat</p>
        </div>
        <div class="ind-components">
            <img src="assets/Vector-licenses.png" alt="vector-licenses" class="side-icons"/>
            <p>Licenses</p>
        </div>
        <div class="ind-components">
            <img src="assets/Vector-user.png" alt="vector-user" class="side-icons"/>
            <p>User Profile</p>
        </div>
        <div class="ind-components">
            <img src="assets/Vector-leave.png" alt="vector-leave" class="side-icons"/>
            <p>Leave Management</p>
        </div>
        <div class="ind-components">
            <img src="assets/Vector-logout.png" alt="Vector-logout" class="side-icons"/>
            <p>Log Out</p>
        </div>
    </div>
</div>